@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-Thin.woff2') format('woff2'),
        url('FivoSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-BlackOblique.woff2') format('woff2'),
        url('FivoSans-BlackOblique.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-Medium.woff2') format('woff2'),
        url('FivoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-BoldOblique.woff2') format('woff2'),
        url('FivoSans-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-HeavyOblique.woff2') format('woff2'),
        url('FivoSans-HeavyOblique.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-Black.woff2') format('woff2'),
        url('FivoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-Regular.woff2') format('woff2'),
        url('FivoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-Oblique.woff2') format('woff2'),
        url('FivoSans-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-LightOblique.woff2') format('woff2'),
        url('FivoSans-LightOblique.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-Light.woff2') format('woff2'),
        url('FivoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-Bold.woff2') format('woff2'),
        url('FivoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-ThinOblique.woff2') format('woff2'),
        url('FivoSans-ThinOblique.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-MediumOblique.woff2') format('woff2'),
        url('FivoSans-MediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('FivoSans-Heavy.woff2') format('woff2'),
        url('FivoSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

